.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
  border: none;
  text-transform: capitalize;
  transition: background 0.2s linear, letter-spacing 0.2s linear;
}

.btn:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}
